<div id="footer-content">
  <div id="footer-logos">
    <div>
      <a class="logo-acesso" href="http://www.acessoainformacao.gov.br/" target="_blank"><span>Acesso a Informação</span></a>
      <div class="institucionais">
        <a class="logo-brasil" href="http://www.brasil.gov.br/" target="_blank"><span>Brasil - Governo Federal</span></a>
      </div>
    </div>
  </div><!-- end id="footer-logos" -->

  <div id="footer-license">
    <p>
      Este site utiliza o software livre <a href="http://noosfero.org" target="_blank">Noosfero</a>, licenciado pela <a href="http://www.gnu.org/licenses/agpl.html" target="_blank">GNU Affero General Public License, versão 3 ou superior.<a>
    </p>
  </div><!-- end id="footer-license" -->
</div>

<script src="http://barra.brasil.gov.br/barra.js" type="text/javascript"></script>

<script>
  // Abreviar opcões de administração
  $('#user #homepage-link strong').text('Perfil');
  $('#user .ctrl-panel strong').text('Painel');
  $('#user .admin-link strong').text('Adm');
</script>
