@font-face {
  font-family: "Open Sans";
  font-style: normal;
  font-weight: 400;
  src: local("Open Sans"), local("OpenSans"), url(https://themes.googleusercontent.com/static/fonts/opensans/v6/cJZKeOuBrn4kERxqtaUH3T8E0i7KZn-EPnyo3HZu7kw.woff) format("woff"); }
@font-face {
  font-family: "Open Sans";
  font-style: normal;
  font-weight: 700;
  src: local("Open Sans Bold"), local("OpenSans-Bold"), url(https://themes.googleusercontent.com/static/fonts/opensans/v6/k3k702ZOKiLJc3WVjuplzHhCUOGz7vYGh680lGh-uXM.woff) format("woff"); }
@font-face {
  font-family: "Open Sans";
  font-style: normal;
  font-weight: 800;
  src: local("Open Sans Extrabold"), local("OpenSans-Extrabold"), url(https://themes.googleusercontent.com/static/fonts/opensans/v6/EInbV5DfGHOiMmvb1Xr-hnhCUOGz7vYGh680lGh-uXM.woff) format("woff"); }
#global-header {
  height: auto;
  margin: auto;
  width: 100%; }
  #global-header a:link {
    text-decoration: none; }

.header-content * {
  list-style: none;
  margin: 0;
  padding: 0;
  vertical-align: baseline; }
.header-content li {
  display: inline; }

#header {
  background-color: #fcdd4e;
  background-color: #f9c404;
  background-image: -moz-radial-gradient(center, ellipse cover, #fcdd4e 1%, #f9c404 100%);
  background-image: -webkit-gradient(radial, center center, 0px, center center, 100%, color-stop(1%, #fcdd4e), color-stop(100%, #f9c404));
  background-image: -webkit-radial-gradient(center, ellipse cover, #fcdd4e 1%, #f9c404 100%);
  background-image: -o-radial-gradient(center, ellipse cover, #fcdd4e 1%, #f9c404 100%);
  background-image: -ms-radial-gradient(center, ellipse cover, #fcdd4e 1%, #f9c404 100%);
  background-image: radial-gradient(ellipse at center, #fcdd4e 1%, #f9c404 100%);
  color: #fff;
  padding: 13px 0 0 0; }
  #header > div {
    margin: 0 auto;
    max-width: 960px; }

#accessibility {
  display: block;
  float: left;
  font-family: arial;
  font-size: 10px;
  list-style: nonei;
  width: 45%; }
  #accessibility a {
    color: #00500f;
    margin-right: 8px; }
  #accessibility span {
    background: none repeat scroll 0 0 #497B16;
    color: #FFFFFF;
    padding: 0 4px; }

#portal-siteactions {
  display: block;
  float: right;
  font-size: 10px;
  margin-top: -2px;
  text-align: right;
  width: 30%; }
  #portal-siteactions a {
    border-bottom: 1px dotted #00500f;
    color: #00500f;
    font-family: "Open Sans", Arial, Helvetica, sans-serif;
    padding: 2px 0px;
    text-decoration: none;
    text-transform: uppercase; }
    #portal-siteactions a:hover {
      color: #03316f; }
  #portal-siteactions li {
    display: inline;
    margin: 0px 0px 0px 15px; }

#header #user {
  float: right;
  height: auto;
  margin-top: -2px;
  position: relative;
  right: 0;
  top: 0;
  width: auto; }
  #header #user #top-search {
    display: none; }
  #header #user a#homepage-link {
    margin-left: 35px; }
    #header #user a#homepage-link i {
      display: block; }
  #header #user a {
    margin-left: 15px; }
    #header #user a i {
      display: none; }
    #header #user a strong {
      color: #00500f;
      font-family: "Open Sans";
      font-size: 10px;
      font-weight: 300;
      text-transform: uppercase; }
  #header #user .welcome, #header #user .or {
    display: none; }

#logo {
  float: left;
  padding: 0;
  width: 70%; }
  #logo a {
    display: block;
    color: #03316f;
    margin: 1em 0px;
    text-decoration: none;
    width: 100%; }
  #logo span {
    display: block; }
  #logo #portal-title {
    margin: 30px 0px 46px 0px;
    color: #03316f;
    font-size: 40px;
    font-family: "Open Sans", Arial, Helvetica, sans-serif;
    font-weight: 800;
    line-height: 1em;
    letter-spacing: -0.05em; }
  #logo #portal-description {
    font-size: 1.2em;
    text-transform: uppercase; }

#header #sobre {
  clear: both;
  background: #f8c300;
  font-size: 12px;
  line-height: 20px;
  margin: 0;
  max-width: 100%;
  padding: 5px 0; }
#sobre ul {
  max-width: 960px;
  margin: 0 auto;
  text-align: right; }
#sobre a {
  color: #00500f;
  font-family: "Open Sans", Arial, Helvetica, sans-serif; }
#sobre #link-faq a {
  border-right: 1px solid #00500f;
  padding: 0 10px; }
#sobre #link-contact a {
  padding-left: 10px; }

.LSBox {
  border: none;
  margin: 0;
  padding: 0; }

input.searchField {
  -moz-appearance: none; }

#portal-searchbox {
  background: #fff;
  border: 1px solid #CCCCCC;
  border-radius: 5px;
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  clear: right;
  float: right;
  font-size: 80%;
  margin: 30px 0 14px;
  padding: 2px;
  text-align: right; }
  #portal-searchbox .searchField {
    border: none;
    padding: 0.45em;
    width: 170px; }
  #portal-searchbox form {
    white-space: nowrap; }
  #portal-searchbox label {
    font-weight: normal; }
  #portal-searchbox #searchGadget {
    margin: 0;
    width: 13em; }
  #portal-searchbox input.searchButton {
    background-image: url("images/search-button.gif");
    background-position: 8px 2px;
    background-repeat: no-repeat;
    background-color: #ffffff;
    border: none;
    padding: 4px 15px;
    text-indent: -2000px; }
  #portal-searchbox input.searchField {
    margin-bottom: 1em;
    -moz-appearance: searchfield; }

#LSResult {
  margin-top: 0.5%;
  z-index: 1; }

#search-button a {
  display: inline-block;
  height: 25px;
  margin-right: 3px;
  margin-top: 10px;
  width: 29px; }
  #search-button a:hover {
    opacity: 0.6; }
#search-button #sb_search {
  background-image: url(images/search.png);
  background-size: 100% 100%; }
#search-button span {
  display: none; }

#social-icons {
  clear: right;
  float: right;
  margin: 0px; }
  #social-icons ul {
    display: table-row; }
  #social-icons li {
    float: right;
    width: 20px;
    margin-left: 4px; }
    #social-icons li a {
      width: 20px;
      height: 20px;
      padding: 0px;
      display: inline-block;
      background-repeat: no-repeat; }
  #social-icons #sb_face {
    background-image: url(images/icone-verde-facebook.png); }
    #social-icons #sb_face:hover {
      background: url(images/icone-verde-facebook.png) 0 20px; }
  #social-icons #sb_tweet {
    background-image: url(images/icone-verde-twitter.png); }
    #social-icons #sb_tweet:hover {
      background: url(images/icone-verde-twitter.png) 0 20px; }
  #social-icons #sb_youtb {
    background-image: url(images/icone-verde-youtube.png); }
    #social-icons #sb_youtb:hover {
      background: url(images/icone-verde-youtube.png) 0 20px; }
  #social-icons #sb_flickr {
    background-image: url(images/icone-verde-flickr.png); }
    #social-icons #sb_flickr:hover {
      background: url(images/icone-verde-flickr.png) 0 20px; }
  #social-icons span {
    display: none; }

#global-footer {
  width: 100%; }

#footer-content {
  background: #fff; }

#footer-logos {
  background: #F28F00;
  height: 49px;
  max-width: 100%;
  padding: 2em 0; }
  #footer-logos div {
    margin: 0 auto;
    max-width: 960px; }
  #footer-logos a {
    display: block;
    float: left;
    height: 49px; }
  #footer-logos span {
    display: none; }
  #footer-logos .logo-acesso {
    background: transparent url(images/acesso-a-informacao.png) center center no-repeat;
    width: 107px; }
  #footer-logos .logo-brasil {
  	width:155px;
  	background:url(images/logo-brasil.svg) center no-repeat;
  	height:48px
  }
  #footer-logos .logo-sgpr {
    background: transparent url(images/sgpr.png) center center no-repeat;
    margin-right: 30px;
    width: 187px; }
  #footer-logos .institucionais {
    float: right; }

#footer-license {
  margin: 0 auto;
  max-width: 960px;
  text-align: left;
  padding: 19px; }
  #footer-license p {
    color: #F28F00;
    text-align: left; }

/*# sourceMappingURL=global.css.map */
