@import ../profile-base/style.css

@font-face
  font-family: 'Ubuntu'
  font-weight: 300
  font-style: normal
  src: url('fonts/Ubuntu-R.ttf')

@font-face
  font-family: 'Ubuntu Mediun'
  font-weight: 300
  font-style: normal
  src: url('fonts/Ubuntu-M.ttf')

@font-face
  font-family: 'Ubuntu'
  font-weight: 300
  font-style: italic
  src: url('fonts/Ubuntu-RI.ttf')

body
  background: #fff

#barra-brasil
  border-bottom: 1px solid #eee
  width: 100%
  z-index: 99
  div#wrapper-barra-brasil
    font-family: Arial, Helvetica, sans-serif !important
    width: 960px

#site-title, #theme-header, #wrap-2 #user, #theme-footer
  display: none

#user
  display: block

#content-inner
  margin-bottom: -15px

#wrap-2, .main-content
  margin-top: 0
  border: 1px solid transparent
  box-shadow: none

.action-home-index
  .main-content
    margin: auto
    width: 960px
  #wrap-1
    width: 100%
  #wrap-2
    margin: 0
    padding: 0
  #boxes
    margin: 0
    width: 100%
  .main-block
    display: none

#content 
  .main-content, .no-boxes, #not-found, #access-denied
    h1
      border: none
      color: #575959
      font-family: 'Ubuntu'
      font-size: 22px
      font-variant: normal

// edit environment blocks
.design-menu.button-bar
  width: 960px
  margin: auto

#block-store
  width: 960px
  margin: auto

@import partial_sass/container

@import partial_sass/tracks

@import partial_sass/news

@import partial_sass/statistics

@import partial_sass/tagscloud

@import partial_sass/conexions


