.action-home-index .connections
  clear: both
.action-home-index #content .box .block.connections-item, .action-environment_design-index #content .box .block.connections-item
  background: #DEDEDE
  border: 1px solid #E0E0E0
  height: 440px
  margin-right: 20px
  width: 305px !important
  display: inline-grid
  padding: 0px
  .block-header
    background: #90B500
    margin-bottom: 40px
    height: 70px
  .block-title
    background: none
    border: none
    line-height: 22px
    margin: 0
    padding: 25px 0

    span
      background: none
      color: #404040
      font-family: 'Ubuntu Mediun'
      font-size: 22px
      font-variant: normal
      font-weight: normal
      padding: 0 0 0 20px
      width: auto
  .block-footer-content
    margin: 0 0 3px 0
    text-align: right
    position: absolute
    right: 20px
    bottom: 25px
    a.view-all
      background: #8EB500 none
      border-radius: 20px
      color: #FFF
      font-family: 'Ubuntu'
      font-size: 14px
      padding: 7px 20px
      position: relative
      text-decoration: none
      text-transform: capitalize
  li.vcard
    .menu-submenu-trigger
      top: 0
      left: 0
  &.people-block
    ul
      display: block
  &.communities-block
    ul
      display: block
  &.raw-html-block
    margin: 0
    .social_widget_facebook
      margin: 0 10px
    .others_social_net
      ul
        list-style: none
        margin-top: 20px
        padding: 0
      li
        cursor: pointer
        display: inline-block
        height: 58px
        width: 58px
        margin: 0 15px 0 25px
        a
          display: block
          height: 58px
          width: 58px
        &.instagram
          background: url('images/home/icon-insta.png') no-repeat left center
        &.twitter
          background: url('images/home/icon-tw.png') no-repeat left center
        &.facebook
          background: url('images/home/icon-face.png') no-repeat left center
      span
        display: none
