.action-home-index #content .box .main-top-news
  float: left
  width: 645px
  margin-left: 120px
  margin-right: 40px
  ul
    margin: 0
  li
    margin: 0
    width: 645px
  .title
    margin: 0 0 15px 0
    a
      color: #3F3F3F
      font-family: 'Ubuntu Mediun'
      font-weight: 300
      font-size: 22px
      text-decoration: none
  .image
    height: auto
    margin: 0
    max-height: 345px
    overflow: hidden
    width: 645px
    img
      max-width: 645px
  .lead
    background: #E4E4E4
    margin: 0
    padding: 0 20px
    p
      color: #3F3F3F
      font-family: 'Ubuntu'
      font-size: 14px
      margin: 0
      padding: 0
    p:first-child
      padding-top: 25px
    p:last-child
      border-bottom: 1px solid #373737
      padding-bottom: 15px
  .read_more
    background: #E4E4E4
    margin: 0
    padding: 15px 20px 35px 20px
    a
      background: url('images/home/09.png') no-repeat left center
      color: #3F3F3F
      display: block
      font-family: 'Ubuntu'
      font-size: 14px
      height: 30px
      line-height: 30px
      padding-left: 40px
      text-decoration: none
      text-transform: lowercase
.action-home-index .more-top-news
  float: left
  margin: 25px 0 0 15px
  width: 290px !important
  .block-title
    background: none
    border: none
    height: 22px
    line-height: 22px
    margin: 2px 0 15px 0
    width: 290px
    span
      background: none
      color: #BEBEBE
      font-family: 'Ubuntu Mediun'
      font-size: 22px
      font-variant: normal
      font-weight: normal
      padding: 0
      width: 290px
  ul
    margin: 0
    width: 290px
  li
    border-top: 1px solid #373737
    display: inline-block
    margin: 0
    padding: 20px 0
    width: 290px
    &:first-child
      display: none
    &:last-child
      border-bottom: 1px solid #373737
  .image
    float: left
    height: 125px
    margin: 0
    overflow: hidden
    position: relative
    width: 160px
    img
      left: 50%
      margin-left: -100px
      max-width: 200px
      position: absolute
  .title
    float: left
    margin: 0 0 30px 10px
    max-height: 65px
    overflow: hidden
    width: 120px
    a
      color: #3F3F3F
      font-family: 'Ubuntu'
      font-size: 14px
      line-height: 16px
      text-decoration: none
  .lead
    display: none
  .read_more
    float: left
    height: 25px
    margin-left: 10px
    width: auto
    a
      background: url('images/home/09.png') no-repeat left center
      background-size: 20px 20px
      color: #3F3F3F
      display: block
      font-family: 'Ubuntu'
      height: 20px
      line-height: 20px
      text-decoration: none
      text-indent: 25px
      text-transform: lowercase
.raw-html-block
  .action-home-index #content &, #content #box-organizer &
    margin: auto
    width: 960px
    #read-more-news
      display: block
      height: 50px
      text-align: right
      width: auto
      a
        background: #404040
        border-radius: 45px
        padding: 10px 45px
        width: auto
        color: #FFF
        font-family: 'Ubuntu Mediun'
        font-size: 14px
        font-weight: 300
        text-decoration: none
