// Statistics Block
.action-home-index #content, #content #box-organizer
  .block.statistics-block 
    background-color: #0C763E
    display: block
    font-family: 'Ubuntu',Arial,Helvetica,sans-serif
    margin: 50px 0 1px
    .block-inner-2
      background-color: transparent
    .block-title
      display: none
    ul
      padding: 0px
      text-align: center
      display: inline-block
      list-style: none
      margin: 25px 0 30px 0
      li
        color: #fff
        display: inline-block
        margin: 0 40px 20px 0
        text-align: center
        span
          display: block
        .amount
          font-family: 'Ubuntu Mediun',Arial,Helvetica,sans-serif
          font-size: 72px
          font-weight: 800	
          line-height: 72px
          padding-bottom: 5px
        .label
          color: white
          font-size: 200%
          font-weight: normal

//End of Statistics Block
