// Tags Cloud
.action-home-index #content, #content #box-organizer
  .tags-cloud-block
    background-color: #F8C300
    margin: 0
    padding: 1em
    clear: both
    .block-title
      display: none
    .tag_cloud
      width: 960px
      margin: auto
      a
        color: #497B16
        font-family: 'Ubuntu Mediun'
        font-weight: normal
        white-space: normal
    .block-footer-content
      display: none
