.community-track-plugin_track-card-list-block
  width: 960px !important
.track_list
  .item_card
    background: #F3F4E6
    border: 2px solid #696778
    border-radius: 5px
    font-family: 'Ubuntu'
    height: 295px
    margin: 0 15px 15px 0
    padding: 0
    width: 305px
    &:nth-child(3n)
      margin: 0
    .title
      background: #FFF url('images/home/icon-generic.png') no-repeat 15px center !important
      border-color: #696778
      border-radius: 5px 5px 0 0
      color: #696778
      height: 100px
      font-family: 'Ubuntu Mediun'
      font-size: 22px
      font-weight: normal
      line-height: 100px
      margin: 0
      overflow: hidden
      text-indent: 95px
    .image
      display: none
    .name
      color: #696778 !important
      max-height: 38px
      font-family: 'Ubuntu Mediun'
      font-size: 16px
      font-weight: normal
      line-height: 18px
      margin: 20px 10px 15px
      overflow: hidden
      padding: 0
    .lead
      color: #696778
      max-height: 48px
      font-size: 14px
      line-height: 16px
      margin: 0 10px
      overflow: hidden
    .track_stats
      background: #3C9BAF
      border: none
      border-radius: 0 0 3px 3px
      display: block
      height: 41px
      margin: 2px
      .comments, .hits
        background: transparent url('images/home/05.png') no-repeat left center
        float: left
        height: 18px
        margin: 12px 0px 10px 25px
        width: auto
        .label
          display: none
        .counter
          color: #FFF
          font-size: 14px
          padding: 0 0 0 25px
      .hits
        background: transparent url('images/home/06.png') no-repeat left center
        margin: 12px 0px 10px 20px
        .label, .counter
          color: #FFF
          display: inline-block
          font-size: 14px
      .read_more
        float: right
        padding: 6px 15px
        a
          display: block
          height: 28px
          width: 28px
          span
            display: none
    &.category_cultura, &.category_lazer, &.category_esporte
      background: #FAF9EE
      border-color: #F4DFBE
      .track_content
        .title
          background: #FFF url('images/home/icon-culture.png') no-repeat 15px center !important
          border-color: #F4DFBE
          color: #AF6EAF
      .track_stats
        background: #FA9E00
        .read_more a
          background: transparent url('images/home/read-more-cult.png') no-repeat center center
    &.category_aguas, &.category_infracoes-ambientais, &.category_qualidade-ambiental, &.category_ambientes-ocupados-pelo-homem, &.category_areas-protegidas, &.category_biodiversidade, &.category_cidadania-ambiental, &.category_economia-e-meio-ambiente, &.category_gestao-de-meio-ambiente, &.category_florestas
      background: #F7FAE7
      border-color: #DDE5BF
      .track_content
        .title
          background: #FFF url('images/home/icon-env.png') no-repeat 15px center !important
          border-color: #DDE5BF
          color: #64BCCA
      .track_stats
        background: #9DB329
        .read_more a
          background: transparent url('images/home/read-more-env.png') no-repeat center center
    &.category_ciencia-e-tecnologia, &.category_comunicacao, &.category_informacao
      background: #F4FBFB
      border-color: #0D3E6A
      .track_content
        .title
          background: #FFF url('images/home/icon-tec.png') no-repeat 15px center !important
          border-color: #0D3E6A
          color: #E4CAA7
      .track_stats
        background: #123D6E
        .read_more a
          background: transparent url('images/home/read-more-tec.png') no-repeat center center

.community-track-plugin_track-card-list-block
  .block-footer-content
    float: right
    margin: 15px 0 0 auto
    .more_button
      background: #258FC2
      border-radius: 45px
      padding: 10px 45px
      width: auto
      a
        color: #FFF
        font-family: 'Ubuntu Mediun'
        font-size: 14px
        font-weight: normal
        text-decoration: none

.action-community_track_plugin_public-all_tracks
  .main-content
    padding: 0
    width: 960px

#block-store #block-community-track-plugin_track-card-list-block
  width: 112px !important
