/*From Old Theme*/

/*Pairwise*/
.action-home-index div.pairwise_main .spinner {
  width: 94%;
}

.pairwise-plugin_pairwise-content #article-header .title {
  display: none;
}

#pairwise_main {
	text-align: center;
	width: auto;
}

#pairwise_main ul.pairwise_menu {
	background-color: white;
	color: #ECF2E7;
	text-align: right;
}

#pairwise_main ul.pairwise_menu li {
	display: inline;
}

#pairwise_main ul.pairwise_menu li a {
    color: #b3c4a6;
    font-size: 14px;
    padding: 1em;
    text-decoration: none;
}

#pairwise_main ul.pairwise_menu li a:hover{
	color: #497B16;
	background-color: #ECF2E7;
	border-radius: 10px 10px 0 0;
	border: 1px solid #b3c4a6;
	border-bottom: 0px;
	margin: -1px;
}

#pairwise_main ul.pairwise_menu li a.active{
    color: #497B16;
    background-color: #ECF2E7;
    border-radius: 10px 10px 0 0;
    border: 1px solid #b3c4a6;
    border-bottom: 0px;
}

#pairwise_main .pairwise_content {
    background-color: #ECF2E7;
    padding: 1em;
	 overflow: hidden;
}

#pairwise_main .pairwise_body {
    background-color: white;
    border-radius: 7px 7px 7px 7px;
    display: block;
    font-size: 22px;
    margin: 0 0 0.5em;
    padding: 1em;
}

#pairwise_main .pairwise_call_for_action {
    color: #4B7421;
    font-size: 14px;
	 line-height: 1.5em;
}

#pairwise_main .prompt {
	border-width: 0px;
   max-width: 369px;
   height: 170px !important;
   padding: 10px 0;
	border-width: 0 !important;
	border-radius: 10px;
}

#pairwise_main .prompt.left{
	background-position: 51% top;
	float: left;
}

#pairwise_main .prompt.right{
	background-position: 50% top;
	float: right;
}

#pairwise_main .prompt a{
	color: #2a2d28 !important;
	/*font-size: 14px;*/
	font-size: 12px;/*REDUZIDO PARA CABER 160 CARACTERES.*/
	display: block;
	/*height: 170px;*/
	max-width: 349px;
	padding: 10px;
    height: 100%;
}

#pairwise_main .separator {
    background-color: #CCCCCC;
    display: inline-block;
    float: none;
    height: 170px;
    margin-top: 8px;
    width: 1px;
}


#pairwise_main .skip_vote {
	width: 200px !important;
	text-align: center;
	padding: 0;
	border-width: 0px;
	background-color: transparent !important;
/* background-color: #7D8874 !important;
	font-size: 15px !important;
	color: #fff;
	padding: 1em 0 !important;
	border-width: 0px !important;
	border-radius: 7px 7px 0px 0px !important;*/
}

#pairwise_main .skip_vote a {
	 background: url("../images/btn_duvida_pairwise.png") no-repeat center center #fff !important;	
    color: transparent !important;
	 display: inline-block;
    height: 1px;
    line-height: 0;
    padding: 1em 0;
    text-decoration: none;
    width: 200px;	
}

#pairwise_main .skip_vote a:hover {
	 background: url("../images/btn_duvida_pairwise_hover.png") no-repeat center center #fff !important;	
}

#pairwise_main .skip_vote_reasons {background-color: #7D8874;padding-top: 0 !important;}

#pairwise_main .skip_vote_reasons ul {margin: 0; padding: 1em;}

#pairwise_main .skip_vote_reasons ul li {color: white; padding: 0.5em 0.5em 0.5em 2em; text-align: left;}

#pairwise_main .skip_vote_reasons ul li:hover{background-color:#666;}

#pairwise_main .skip_vote_reasons ul li a {color: white;text-decoration: none;font-size: 14px;}

#pairwise_main #suggestions_box {
	display: block !important;
   margin-top: 15px;
   padding: 10px;
	text-align: left;
}

#pairwise_main #suggestions_box span {
    color: #4B7421;
    font-size: 15px;
    font-weight: bold;
    text-align: left;
    text-transform: uppercase;
}

#pairwise_main .suggestion_form {}

#pairwise_main #suggestion_box_fields {}

#pairwise_main .div_text_input_container {width: 100%;}

#pairwise_main .div_text_input_container .div_text_input {
    display: inline-block;
    width: 80%;
}

#pairwise_main .div_text_input_container .div_text_input textarea {    
	 border: 1px solid #CCCCCC;
    border-radius: 0 0 0 0 !important;
}

#pairwise_main .div_text_input_container .div_text_input .jqEasyCounterMsg {color: #7D8874 !important;font-size: 13px;}

#pairwise_main .div_text_input_container .suggest_idea_btn {
    display: inline-block;
    margin-left: 5%;
    vertical-align: top;
    width: 14%;
}

#pairwise_main div#suggestions_box #new_idea_button {
    background: url("../images/botao-enviar-pairwise.png") no-repeat top center transparent;
    color: transparent;
    border-radius: 0px;
    cursor: pointer;
    display: block;
    min-height: 71px;
    padding: 5px 10px;
    width: 93px;
    border-width: 0;
}

div.pairwise_group_list_container .arrow span.active {
	background-position: center top;
}

/*Fim Pairwise*/

