/*From Old Theme*/

.search-results-header {
	border-bottom: 0px;
}

/*busca and buttons*/

.action-search-people #assets-menu a:hover,
.action-search-articles #assets-menu a:hover,
.action-search-enterprises #assets-menu a:hover,
.action-search-communities #assets-menu a:hover {
    border: none;
}

.action-search-people #assets-menu .selected a:hover,
.action-search-articles #assets-menu .selected a:hover,
.action-search-enterprises #assets-menu .selected a:hover,
.action-search-communities #assets-menu .selected a:hover {
    border-bottom: 2px solid #EF2929;
    border-radius: 0px;
}

#public-profile-search, #profile-search-results form, .profile-search-block form {
 background-color: transparent;
}

#public-profile-search .search-field .formfield {
	float: left;
}
#public-profile-search .search-field .formfield input {
	margin-top: 0px;
}

.formfield input, .formfield textarea{
    background-image: none;
    border: 1px solid #DDDDDD;
    color: #585858;
    font-size: 16px;
	 word-wrap: break-word;
}

.formfield.type-file input {
    height: 28px;
    max-height: 30px;
}

.formfield input {
    padding: 5px 0;
    max-height: 19px;
}

.action-search-people .search-field,
.action-search-articles .search-field,
.action-search-enterprises .search-field,
.action-search-communities .search-field {
    margin-top: 12px;
}

.action-search-people .search-field .formfield input ,
.action-search-articles .search-field .formfield input,
.action-search-enterprises .search-field .formfield input,
.action-search-communities .search-field .formfield input {
    width: 865px;
}

.search-field .formfield, .search-field .formfield input {
	 margin-right: 0.5em;
}

#search-page form.search_form input.icon-search {
    background: url("../images/btn_busca.png") no-repeat scroll 50% 50% transparent;
    border: 1px solid #DDDDDD;
    min-height: 31px;
    padding-right: 20px;
    text-indent: -10000px;
	 max-height: 31px;
}

#content .button-bar a.icon-cancel span{
	vertical-align: text-middle;
}

input.button.with-text {
    background-position: 3px 50%;
    font-size: 12px;
    padding: 0 2px 2px 20px;
	 max-height: 28px;
}

#content a.button.with-text, 
#content a.button.with-text {
	height: 28px;
	max-height: 28px;
}

#content input.button, #content a.button {
    background-color: #EEEEEE;
    background-repeat: no-repeat;
    border: 0px solid #CCCCCC;
	 /*border-bottom: 1px solid #CCCCCC;*/
    color: #555555;
    line-height: 16px;
    text-decoration: none;
}

#content #article-actions input.button, 
#content #article-actions a.button,
#content a.button,
#content input.button {
    background-color: transparent;
	 border: 1px solid #CCCCCC;
	 vertical-align: middle;	
}

#content a.button.with-text {
    line-height: 28px;
	height: 30px;
	max-height: 30px;
}

.action-search-people #content form input.button.submit,
.action-search-articles #content form input.button.submit,
.action-search-enterprises #content form input.button.submit,
.action-search-communities #content form input.button.submit {
    float: right;
    margin-right: 0px;
}

#content form input.button.submit {
    height: 32px;
    max-height: 32px;
	 margin-right: 5px;
}

#content #article-actions input.button:hover, 
#content #article-actions a.button:hover {
    background-color: #ccc;
	 border: 1px solid #CCCCCC;
	 color: white;
}


#content a.button:hover {
	border: 1px solid #CCCCCC;
}

/*Opções de tamplate se tiver*/
.action-search-people #content #submenu,
.action-search-articles #content #submenu,
.action-search-enterprises #content #submenu,
.action-search-communities #content #submenu {
    margin-top: 12px;
}

/*label dos radio buttons da busca*/
#content .search-field label {
    display: inline-block;
    font-size: 12px;
    vertical-align: middle;
    margin-left: 5px;
}

#public-profile-search .formfield, #public-profile-search .submit {
    margin-bottom: 5px;
}

#content .profile ul{
	margin-left: 1em;
}


/****RESULTADO DA BUSCA *****/

.action-search-people #content .common-profile-list-block .vcard,
.action-search-articles #content .common-profile-list-block .vcard,
.action-search-enterprises #content .common-profile-list-block .vcard,
.action-search-communities #content .common-profile-list-block .vcard {
    margin: 4px;
}


#search-results {
	width: 100% !important;
}

.controller-search .multiple-results-boxes .search-results-innerbox.common-profile-list-block {
	overflow: visible;
}

.controller-search .search-results-box {
	width: 100%;
	margin-bottom: 20px;
}

.controller-search #search-results h3 {
    background-color: #497B16;
    color: white;
    display: inline-block;
    margin: 0 0 0 0;
    padding: 0.5em;
    position: relative;
}

.controller-search #search-results .search-results-innerbox li .search-result-title {
	margin-left: 148px;
	color: #444444;
}

.search-article-description {
	color: #999999;
}

#search-page .map-or-list-search-results list {
	
}

.search-results-innerbox {
	border-top: 1px solid #CCCCCC;
}

.controller-search .search-results-innerbox {
	height: 100%;
}

.search-results-type-article li.article-item, 
.search-tagged-items li.article-item, 
.only-one-result-box li.search-product-item {
	border-bottom: 0px solid #fff;
}

.controller-search .search-results-innerbox td.search-field-label{
	display: none;
}

/*busca de midia*/

.media-search-box form span.formfield #media-search-query{
	float: left;
	margin-right: 5px;
}

/*Busca em Profile*/
#profile-search-results ul.results-list {

}

#profile-search-results ul.results-list li{
    display: block;
    margin-bottom: 18px;
}

#profile-search-results ul.results-list .result-title{
    color: #444444;
    display: inline-block;
    font-size: 180%;
    font-weight: bold;
    padding: 4px 0;
}

#profile-search-results ul.results-list .article-details {
    color: #999999;
}

#profile-search-results ul.results-list .article-url {

}

/**** FIM DE BUSCA ****/

/*fim de busca*/
